@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.bottom {
  height: 30vh;
}

.articleContainer {
  margin-top: 4vh;
  background-color: #94bdf1;
  color: #fffbf9;
  padding: 6vh 3vw;
  border-radius: 20px;
  font-family: "Raleway";
}

.articleContainer:hover {
}

.imageContainer {
  /* background-color:aqua; */
}

.coverImage {
  max-height: 60vh;
  width: 95%;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 15px;
}

.article_box {
  background-color: antiquewhite;
}

.date {
  font-family: "Raleway";
  font-size: 2vmin;
  font-weight: bold;
}

.title {
  font-size: 4vmin;
  font-family: "Raleway";
  font-weight: bold;
}

.author {
  font-size: 2.5vmin;
  margin-bottom: 5%;
  font-family: "Raleway";
}

.description {
  font-size: 3vmin;
  font-family: "Raleway";
  font-weight: normal;
  margin-right: 20%;
  margin-top: 5vh;
}

.callToActionButton {
  padding: 2vh 1.5vw;
  background-color: #5f61c7;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.callToActionButton:hover {
  color: white;
  background-color: #494a5a;
}

.actionItemsContainer {
  padding-top: 12vh;
  display: flex;
  padding-right: 2vw;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .date {
    margin-top: 2vh;
  }

  .readButtonContainer {
    margin-bottom: 5vh;
  }
}
