.deleteButton {
    padding: 2vh 1.5vw;
    background-color: rgb(255, 94, 94);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.deleteButton:hover{
    background-color: rgb(255, 122, 122);
    color: white;
}

@media only screen and (max-width: 992px) {
    .deleteButton {
        margin-top: 5vh;
    }
}