@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.body {
  padding-top: 10vh;
}

.viewTitle {
  font-family: "Raleway";
  font-size: 4em;
  margin-bottom: 5vh;
  font-weight: bold;
  margin-left: 7vw;
  margin-right: 7vw;
}

.viewImage {
  margin: auto;
  display: block;
  width: 60%;
  margin-bottom: 5vh;
  border-radius: 15px;
  max-height: 60vh;
  object-fit: cover;
}

.authorBy {
  font-size: 1.5em;
  color: rgb(31, 59, 153);
}

.createdAt {
  font-size: 1.5em;
  margin-bottom: 2vh;
}

.viewDescription {
  font-size: 1.5em;
}

.articleBody {
  padding: 2vh 6vw;
  font-size: 1.25em;
  margin-bottom: 4vh;
  font-family: 'Ubuntu'
}
