@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.header {
    padding: 30vh 0 25vh 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Raleway";
    font-weight: bold;
}
