.nav {
    background: rgba(255, 255, 255, 0.582);
    backdrop-filter: saturate(180%) blur(10px);
    position: fixed;
    z-index: 100;
    overflow-x: hidden;
}

.link {
    text-decoration: none;
    margin-left: 10vw;
    margin-top: 1vh;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: max-content;
}

.logo {
    width: 4.5vw;
    text-decoration: none;
}