@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.commentsLabel {
    font-size: 2em;
    font-family: 'Ubuntu';
}

.userLabel {
  color: black;
  font-size: 1.5em;
}

.commentContainer {
  color: black;
  margin-bottom: 10vh;
}

.commentText {
  padding-top: 2vh;
}
